
      /* General Reset */
      * {
        box-sizing: border-box;
      }


      /* Main Container (Below Header) */
      .main-container {
        display: flex;
        height: calc(100vh - 60px);
        position: relative;
      }

      /* Left Panel */
      .left-panel {
        width: 250px;
        background-color: #f6f8fa;
        border-right: 1px solid #e1e4e8;
        padding: 10px;
        overflow-y: auto;
        position: absolute;
        top: 0px;
        bottom: 0;
      }

      /* Right Panel */
      .right-panel {
        flex-grow: 1;
        background-color: #f6f8fa;
        padding: 20px;
        overflow-y: auto;
        margin-left: 250px;
      }

      /* Drag Handle Between Panels */
      .drag-handle {
        width: 1px;
        background-color: #ddd;
        cursor: ew-resize;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 250px;
        z-index: 10;
      }

      /* Left Panel Collapsing */
      .left-panel.collapsed {
        width: 0;
        display: none;
      }

      /* Fixed Collapse Button */
      .collapse-btn {
        position: absolute;
        z-index: 100;
        top: 4px;
        left: 10px;
        width: 28px;
        height: 28px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .collapse-btn.collapsed {
        left: 260px;
      }


      .control-menu {
        padding-left: 40px;
      }
      .control-menu h4{
        margin-bottom: 0px;
      }

      .left-panel.overlay {
        position: absolute;
        width: 260px;
        z-index: 10;
        box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
      }

      .left-panel li {
        cursor: pointer;
        list-style:none;
        padding-left: 10px;
        border-bottom: 1px solid #ddd;
    
      }
      
      .left-panel li:hover {
        background-color: #ddd;
      }
      
      .left-panel li.active {
        background-color: #bbb;
        font-weight: bold;
      }
      