body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}


header {
  background: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}
footer {
  margin-top: 20px;
  padding: 10px;
  background: #333;
  color: #fff;
  text-align: center;
}


.breadcrumb {
  max-width: 800px;
  margin: 0 auto 10px auto;
  padding-left: 20px;
  text-align: left;
  font-size: 0.9em;
}

.breadcrumb a {
  color: #0073e6;
  text-decoration: none;
}

.breadcrumb span {
  color: #000000;
}

.breadcrumb a:not(:last-child)::after {
  content:  " > " ;
  color: #000000;
}
